/* imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap');




body {
    margin: 0;
    background-color: #444444;
    font-family: "Fira Sans", Times, serif;
}

.menu {
    background-color: #2a2929;
    color: #bbbbbb;
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu > h1:hover {
    cursor: pointer;
    text-decoration: underline;
}

main {
    padding: 30px 30px;
    color: #bbbbbb;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    height: 500px;
    width: 700px;
    padding: 30px 30px;
}

h1 {
    padding: 10px 40px;
}

p {
    padding: 10px 40px;
}

a {
    color: #bbbbbb;
}

ul {
    padding-left: 70px;
}